---
import BlogLayout from '../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';
import BlogPostCard from '../components/BlogPostCard.astro';

const posts = await getCollection('blog', ({ data }) => !data.draft && !data.private);
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BlogLayout title="Blog | Qiao's Blog">
  <div class="space-y-8">
    {posts.map((post) => (
      <BlogPostCard post={post} />
    ))}
  </div>
</BlogLayout>

<style>
  article:last-child {
    border-bottom: none;
  }
</style> 