---
interface Props {
  title: string;
}

import BaseLayout from './BaseLayout.astro';

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <main class="max-w-4xl mx-auto px-4 py-8">
    <slot />
  </main>
</BaseLayout>

<style>
  :global(article:last-child) {
    border-bottom: none;
  }
</style>
